body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /* colors can be specified by name, or by "hex value" */
    color: black;
    background-color: #ff036c;
}
   
  /* and we can have rules that overlap other rules, both take effect */
h1{
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
}
  
  /* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content{
    margin: 10px;
    padding: 10px;
    background-color: #ff6aa8;
}

#prev, #next{
    color: white;
    background-color: #ff036c;
}